@media(max-width: 1100px){
    html{
        font-size: 9px;
    }
    .heading-block{
        flex-direction: column;
    }
    .heading-block__content,
    .heading-block__img{
        width: 100%;
    }
    .manufacture-block{
        gap: 20px;
    }
    .manufacture-block__item{
        width: calc(100% / 4 - 20px);
    }
    .advantages-block__item{
        width: calc(100% / 3 - 35px);
    }
    .work-block{
        gap: 15px;
    }
    .work-block__item{
        width: calc(100% / 2 - 15px);
    }
    .work-block__item-img img,
    .varieties-block__item-img img{
        width: 100%;
        object-fit: cover;
    }
    .varieties-block{
        gap: 15px;
    }
    .varieties-block__item {
        width: calc(100% / 4 - 15px);
    }
    .modal-form{
        gap: 10px;
    }
    .modal__inner-block-text{
        margin-bottom: 15px;
    }
    .modal-form__btn{
        margin-top: 15px;
        transform: translateY(0);
    }
    .modal-form__item{
        width: 100%;
    }
}




@media(max-width: 900px){
    .manufacture-block__item{
        width: calc(100% / 3 - 20px);
    }
    .advantages-block__item{
        width: calc(100% / 2 - 35px);
    }
    .catalog-block,
    .quality-block{
        flex-direction: column;
    }
    .catalog-block__img,
    .quality-block__img{
        order: 1;
    }
    .catalog-block__content,
    .quality-block__content{
        width: 100%;
    }
    .finished-block,
    .workicon-block,
    .photo-block{
        gap: 10px;
    }
    .finished-block__item,
    .photo-block__item {
        width: calc(100% / 4 - 10px);
    }
    .workicon-block__item {
        width: calc(100% / 3 - 10px);
    }
    .services-block__item {
        width: calc(100% / 2 - 30px);
    }
    .services-block{
        flex-wrap: wrap;
        gap: 30px;
    }
    .footer-center__block{
        flex-wrap: wrap;
    }
}





@media(max-width: 550px){
    .title{
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 1.2;
    }
    .button{
        max-width: 100%;
    }
    .heading{
        padding-top: 5rem;
    }
    .heading-block__content{
        padding-bottom: 50px;
    }
    .heading-block__list{
        margin-bottom: 40px;
    }
    .heading-block__content-title{
        margin-bottom: 20px;
        font-size: 27px;
        line-height: 1.2;
    }
    .heading-block__list-item{
        font-size: 16px;
    }
    .heading-block__content-subtitle {
        font-size: 20px;
        text-transform: none;
    }
    .heading-block__list-item{
        margin-bottom: 5px;
    }
    .heading-block__content-btn{
        height: 45px;
        line-height: 45px;
    }
    .manufacture-block__item{
        width: calc(100% / 2 - 10px);
    }
    .manufacture-block__item-img{
        width: 60px;
        height: 60px;
    }
    .manufacture-block__item-img img{
        width: 30px;
    }
    .manufacture-block__item-text{
        font-size: 16px;
    }
    .manufacture__title{
        text-align: center;
    }
    .manufacture,
    .reviews,
    .work,
    .varieties,
    .workshop,
    .catalog,
    .finished,
    .workicon,
    .photo,
    .services{
        padding: 5rem 0;
    }
    .advantages-block__item{
        width: 100%;
        padding: 15px;
    }
    .advantages-block__item-title{
        font-size: 20px;
    }
    .work-block,
    .varieties-block,
    .workshop-block,
    .finished-block,
    .photo-block,
    .quality-box,
    .services-block{
        padding-bottom: 15px;
        overflow-x: auto;
        flex-wrap: nowrap;
    }
    .work-block__item,
    .varieties-block__item,
    .finished-block__item,
    .photo-block__item,
    .quality-box__item,
    .services-block__item{
        min-width: 260px;
    }
    .finished-block__item img,
    .photo-block__item img{
        width: 100%;
        object-fit: cover;
    }
    .work-block__item-text{
        margin-bottom: 5px;
        font-size: 18px;
    }
    .workshop-block__item-title{
        font-size: 20px;
    }
    .workshop-block__item-text{
        font-size: 16px;
    }
    .workshop-block__item{
        margin-left: 0;
        min-width: 270px;
    }
    .workshop-block__item::before{
        display: none;
    }
    .catalog-block{
        gap: 1rem;
    }
    .catalog-block__content-text{
        font-size: 16px;
    }
    .catalog-block__img{
        width: 50%;
    }
    .catalog-block__img img{
        margin: 0 auto;
    }
    .catalog__subtitle{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .catalog-box {
        gap: 15px;
        justify-content: center;
    }
    .catalog-box__item{
        padding: 10px;
        font-size: 16px;
    }
    .workicon-block__item-img img{
        width: 50px;
    }
    .workicon-block__item-text,
    .finished__text,
    .photo__text,
    .quality-block__content-text,
    .quality-box__item-text,
    .services__text,
    .services-block__item-text,
    .footer-center__menu li a{
        font-size: 16px;
    }
    .workicon-block__item {
        width: calc(100% / 2 - 10px);
    }
    .workicon__title {
        text-align: center;
    }
    .quality-top,
    .quality-bottom{
        padding-top: 5rem;
    }
    .footer-top,
    .footer-center{
        padding-top: 30px;
    }
    .quality-block{
        gap: 2rem;
    }
    .quality-box__item-title{
        font-size: 20px;
    }
    .quality-box__item::before{
        display: none;
    }
    .quality-box__item{
        margin: 0;
    }
    .quality-box,
    .services-block{
        gap: 20px;
    }
    .services__text{
        margin-bottom: 20px;
    }
    .services-block__item-title{
        margin-bottom: 10px;
    }
    .footer-top__inner{
        flex-direction: column;
    }
    .footer-top__left,
    .footer-top__right,
    .footer-top__elem{
        width: 100%;
    }
    .footer-top__left-title,
    .footer-top__form-title{
        margin-bottom: 20px;
        font-size: 22px;
    }
    .footer-top__item,
    .footer-top__elem span{
        font-size: 16px;
    }
    .footer-center__item-title{
        position: relative;
        margin-bottom: 5px;
        display: inline-block;
        font-size: 18px;
        cursor: pointer;
    }
    .footer-center__item-title::before{
        position: absolute;
        content: '';
        width: 12px;
        height: 12px;
        right: -25px;
        top: 3px;
        border-bottom: 2px solid #c57b46;
        border-left: 2px solid #c57b46;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: all .4s ease-in;
        -o-transition: all .4s ease-in;
        transition: all .4s ease-in;
    }
    .footer-center__item-title.open.footer-center__item-title::before{
        transform: rotate(135deg);
        transition: all .4s ease-in;
        top: 5px;
    }
    .footer-center__block{
        gap: 30px;
    }
    .footer-center__box{
        flex-wrap: wrap;
        gap: 10px;
    }
    .footer-center__item{
        width: 100%;
    }
    .footer-top__inner{
        gap: 15px;
    }
    .footer-top__form-text{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer-top__elem-btn{
        margin-top: 10px;
        transform: translateY(0);
    }
    .footer-center__menu li{
        line-height: 1.1;
    }
    .footer-bottom{
        padding: 10px;
    }
    .footer-bottom__box{
        gap: 5px;
        flex-direction: column;
    }
    .footer-center,
    .footer-top{
        padding-bottom: 20px;
    }
    .footer-center__menu{
        display: none;
    }
    .modal__inner{
        padding: 0 15px;
    }
    .modal__close{
        right: 22px;
    }
    .modal__inner-block-title{
        font-size: 24px;
    }
    .btnUp{
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}